/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.project {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.project a:hover {
    color: #007bff;
}
.project-details {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}