* {
	margin: 0;
	padding: 0;
}
body {
	font-weight: 300;
	font-style: normal;
    margin: 0;
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #eceff4;
	justify-content: space-around;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	width: 100%;
	padding: 35px;
	
}

.titulo {
    background-color: #eceff4;
    color: #1A1B1E;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
}

.titulo_texto {
    margin-left: 10px;
    font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
}

.container {
	background-color: #f9f9f9;
    max-width: 800px;
    margin: auto;
	font-family: 'Poppins', sans-serif;
    padding: 20px;
	padding-top: 90px;
}

.proyecto-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.proyecto-info:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.link-proyecto-info {
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link-proyecto-info:hover {
    background-color: #f0f0f0;
}

.table-container {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
	font-family: 'Poppins', sans-serif;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
	font-family: 'Poppins', sans-serif;
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 8px;
}

.table-container > .table-gasto{
	margin-top: 297px;
}

.footer {
    background-color: #b3b8ba;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#listado_gasto, #registrar_gasto{
	display: none;
}

#listado_gasto_interno, #registrar_gasto_interno {
	/* padding-top: 150px; */
}

.botones_agregar_gasto{
	display: inline;
	justify-content: space-around;
}

.botones_agregar_gasto button{
	margin-top: 20px;
}

.btn-block{
	width: 100%;
	margin: 10px 0;
}

.centrar{
	align-content: space-around;
	padding-top: 5px;
	justify-content: center;
	align-items: center;
	/* display: flex; */
}

.gasto-info-titulo{
	margin: 0;
	padding: 0;
	/* position: fixed; */
	background-color: white;

}

.gasto-info{
	background-color: white;
	width: 100%;
}


/* @media screen and (max-width: 767px) {
    .proyecto-info {
        width: calc(100% - 20px);
    }
} */
